streamlit==1.31.0
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
faiss-cpu
PyPDF2
python-dotenv
requests
numpy
openai
gTTS
audio-recorder-streamlit
pytesseract
Pillow
openai-whisper
pinecone-client
